<ul>
  <% @box.decks.each do |deck| %>
    <li class='deck'>
      <%= deck.title %>
      <%= link_to 'Add a New Slide', new_deck_slide_path(deck) %> 
    </li>
  <% end %>
</ul>
<%= link_to "Add a New Slide Deck", new_deck_path %>
